@tailwind base;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  a {
    @apply no-underline;
  }

  p,
  a,
  html,
  body {
    @apply text-gray-700;
  }

  h1,
  h2,
  h3 {
    @apply text-gray-900
  }
}

@tailwind components;
@tailwind utilities;

.image-blurred-edge {
    width: 200px;
    height: 85px;
    box-shadow: 4px 4px 4px grey;
    border-radius: 5px;
}

.post-image-blurred-edge {
    width: 50vw;
    height: 30vh;
    box-shadow: 4px 4px 4px grey;
    border-radius: 5px;
}

/*The apple app store and google play store links.*/
@media screen and (min-width: 745px) {
  .centered-div {
    width:40%;
    margin:0 auto;
  }

  .app-links {
    margin-top: 10px;
    display: flex;
  }

  .apple-app-store-image {
    width: 26vw;
    border-radius: 10px;
    margin-right: 10px;
  }

  .google-play-store-image {
    width: 24.25vw;
    border-radius: 10px;
  }
}
 
@media screen and (max-width: 745px) {
  .centered-div {
    width:95%;
    margin:0 auto;
  }

  .app-links {
    margin-top: 10px;
    display: flex;
  }

  .apple-app-store-image {
    width: 72vw;
    border-radius: 10px;
    margin-right: 10px;
  }

  .google-play-store-image {
    width: 67.15vw;
    border-radius: 10px;
  }
}
/*The apple app store and google play store links (above).*/


.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}