@tailwind base;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  a {
    @apply no-underline;
  }

  p,
  a,
  html,
  body {
    @apply text-gray-700;
  }

  h1,
  h2,
  h3 {
    @apply text-gray-900
  }
}

@tailwind components;
@tailwind utilities;

.image-blurred-edge {
    width: 200px;
    height: 85px;
    box-shadow: 4px 4px 4px grey;
    border-radius: 5px;
}

.post-image-blurred-edge {
    width: 50vw;
    height: 30vh;
    box-shadow: 4px 4px 4px grey;
    border-radius: 5px;
}

/*The audio bible store links.*/
@media screen and (min-width: 745px) {
  .centered-div {
    width: 55%;
    margin: 0 auto;
  }

  .audio-links {
    margin-top: 10px;
    display: flex;
  }

  .audio-bible-voice-only-image {
    height: 11.90643vw;
    width: 17vw;
    border-radius: 4px;
    margin-left: -22px;
    margin-right: 12px;
  }

  .audio-bible-dramatized-image {
    height: 11.90643vw;
    width: 17vw;
    border-radius: 4px;
    margin-right: 12px;
  }

  .audio-bible-both-image {
    height: 11.90643vw;
    width: 17vw;
    border-radius: 4px;
    margin-right: -18px;
  }

}
 
@media screen and (max-width: 745px) {
  .centered-div {
    width: 100%;
    margin:0 auto;
  }

  .audio-links {
    margin-top: 30px;
    display: flex;
  }

  .audio-bible-voice-only-image {
    height: 21.71172433vw;
    width: 31vw;
    border-radius: 4px;
    margin-left: -24.5px;
    margin-right: 6.5px;
  }

  .audio-bible-dramatized-image {
    height: 21.71172433vw;
    width: 31vw;
    border-radius: 4px;
    margin-right: 6.5px;
  }

  .audio-bible-both-image {
    height: 21.71172433vw;
    width: 31vw;
    border-radius: 4px;
    margin-right: -18px;
  }
}
/*The audio bible store links (above).*/


.title-setup {
  margin-top: -30px;
  margin-bottom: 15px;
  color: #B6895D;
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}